*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-size:cover;
    background-repeat: no-repeat;
    color: deeppink;
}
.fundo-perfil{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: first baseline;
   background-color:#282828;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}


.fundo-foto{
    
    margin-top: 20px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 20%;
    height: 20%;
    
    background: rgb(167,56,41);
    background: radial-gradient(circle, rgba(167,56,41,1) 0%, rgba(255,181,27,1) 97%);
    border-radius: 50% 50% 50% 50% / 12% 12% 88% 88% ;
    border: 2px solid #dfb849;
}
.contato{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 20vw;
    height: 5vh;
    background-color: #dfb849;
    border-radius:5px 0px 5px ;
}
.contato a{
    font-weight: 700;
    font-size: large;
    color:#a73829;
    text-decoration: none;
    text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.354);
    
}
   

.texto-animado{
    display: none;
    font-size: 30px;
    font-weight: 400;

}
.texto-animado h1 > span{
   
    position: relative;
}
.texto-animado h1>span::before{
    content: "";
    color: azure;
    animation: palavra 12s infinite;

}
.texto-animado h1>span::after{
    content: "";
    position: absolute;
    height: 100%;
    width: calc(100% + 29px);
    border-left: 2px solid deeppink;
    right: -10%;
    animation: cursor 0.5s infinite,digita 12s steps(15) infinite;
    background-color: black;

}
@keyframes cursor{
0%{
    border-left: 2px solid deeppink;
}
}
@keyframes palavra{
    0%,20%{
        content: "borra la";
    }
    21%,40%{
        content: "cauma ai";
    }
    41%,60%{
         content: "ta vendo ai";
    }
    61%,80%{
         content: "sei nao em";
    }
    81%,100%{
         content: "agora sim";
    }

}
@keyframes digita {
    10% , 15% , 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0%;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 29px);
    }
    
}